<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/> <!-- Note the closing '/' character -->
    <title>Title</title>
</head>
<body>

<form method="post" action="/add">
    <label>Username
        <input type="text" value="username">
    </label>

    <label>Email
        <input type="text" value="email">
    </label>

    <label>Password
        <input type="text" value="password">
    </label>

    <label>Validate Password
        <input type="text" value="verify">
    </label>

    <input type="submit" value="submit-form">

</form>

</body>
</html>